body
{
    background-color: #000;
    color: #fff;
	font-family: helvetica;
	font-weight: bold;
}

#container
{
   	width: 800px;
    margin: 20px auto;
}

h1
{
	font-size: 26px;
	padding-bottom: 15px;
}

#todo-list
{
    list-style: none;
    padding: 0;
}

#todo-list li
{
    padding: 10px;
}

#todo-add-item
{
    background-color: #2a2a2a;
}

#add-item-text
{
    background-color: #a1a1a1;
	display: block;
    border: none;
   	padding: 5px 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.prior-high
{
background-color: #f70819;
}

.prior-medium
{
background-color: #ff4619;
}

.prior-low
{
background-color:#f77319;
}

.done
{
    background-color: #1ab41f;
    text-decoration: line-through;
}