body
{
	background-color: #000;
	font-family: helvetica;
}

#container
{
	width: 800px;
    margin: 20px auto;
}

#textfield
{
	background-color: #adadad;
	width: 500px;
}

.priority-high 
{
    background-color: #f70819;
}
.priority-medium 
{
    background-color: #ff4619;
}
.priority-low 
{
    background-color: #f77319;
}

::-webkit-input-placeholder {
    color: #fff;
}

li
{
	color: #fff;
    font-weight: bold;
    padding: 20px;
}

#textf
{
	background-color: #292929;
}

h1
{
	color: #fff;
	font-size: 26pt;
	font-weight: bold;
	padding-bottom: 10px;
}

.done 
{
    text-decoration: line-through;
}