#container
{
	background-color: #f3f3f3;
	text-align: center;
	margin-top: -17px;
}

.weathernow 
{
	height: 532px;
}

.location
{
	
	font-size: 24px;
	margin: 0;
	padding-top: 66px;
}

h1
{
	font-size: 26px;
	color: #000;
	padding-top: 70px;
}

.time
{
	font-size: 18px;
	color: #000;
	margin-top: -15px;
}

.temp
{
	font-size: 200px;
	margin-top: 70px;
	color: #000;
}

.daily 
{

	background-color: #f2e392;
	font-size: 0.9em;
	font-weight: bold;
}

.curr-icon
{
	font-weight: bold;
	font-size: 24px;
	margin-top: -200px;
	
}

.days
{
	width: 90px;
	color: #000;
	display: inline-block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 16px;
}
